

    <!-- Le formulaire -->
    <form *ngIf="frais" [formGroup]="fraisForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="card-panel">

        <!-- <div >Client visité :  </div> -->

        <div class="form-group">
            <input type="hidden" formControlName="client">
        </div>

        <!-- <div class="form-group">
            <label for="typeFrais">Type Frais</label>
            <input type="text" formControlName="typeFrais" />
        </div> -->


          <div> <button (click)="afficherFormResto()" type="button">
                Restaurant
                </button>
                <button (click)="afficherFormHotel()" type="button">
                 Hôtel
                </button>
        </div>

        <div class="form-group">
            <label for="typefrais">Type Frais</label>
            <select name="typefrais" id="typefrais" formControlName="typeFrais">
                <option value="Restaurant">Restaurant</option>
                <option value="Hôtel">Hôtel</option>
            </select>
        </div>

        <div class="form-group">   
            <label for="description">Nom Hôtel</label>
            <input type="text" formControlName="description" />
        </div>
        


        <div class="form-group">
            <label for="datePaiement">Date de Paiement</label>
            <input type="date" formControlName="datePaiement" />
        </div>

          <div class="form-group">
              <label for="montant">Montant</label>
              <input type="number" formControlName="montant" />
          </div>

          <div class="form-group">
            <label for="typePaiement">Type de Paiement</label>
            <select name="typePaiement" id="typePaiement" formControlName="typePaiement">
                <option value="CB">CB</option>
                <option value="cheque">Chèque</option>
                <option value="cash">Espèces</option>
            </select>
        </div>

          <div class="form-group">
              <label for="justificatif">Justificatif</label>
              <input type="file" formControlName="justificatif" (change)="test($event)"/>
          </div>

           <!-- <div class="form-group">
              <label for="typeFrais">Types de frais</label>
              <div>
                  <div *ngFor="let t of fraisTypes; let i=index">
                      <label>
                          <input type="checkbox" [value]="t.value" [checked]="hasType(t.value)" (change)="onCheckboxChange($event)"   />
                          {{ t.value }}
                      </label>
                  </div>
              </div>
          </div>  -->

          <div class="form-actions">
              <button type="submit" [disabled]="fraisForm.pristine">Enregistrer</button>
              <button (click)="goBack()">Retour</button>
          </div>
      </div>
    </form>

