<p>frais-form works!</p>

    <!-- Le formulaire -->
    <form *ngIf="frais" [formGroup]="fraisForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="card-panel">
        <!-- <div class="form-group">

            <select name="idclientfrais" id="idclientfrais_select">
                <option value="client1">Client1</option>
                <option value="client2">Client2</option>
                <option value="client3">Client3</option>

            
            </select>
        </div> -->
        <div>Nom Client  :  </div>

          <div> <button 
                    type="button">
                Restaurant
                </button>
                <button type="button">
                 Hôtel
                </button>
        </div>


        <div class="form-group">
              
            <label for="description">Nom Hôtel</label>
            <input type="text" formControlName="description" />
        </div>
        


        <div class="form-group">
            <label for="datePaiement">Date de Paiement</label>
            <input type="date" formControlName="datePaiement" />
        </div>

          <div class="form-group">
              <label for="montant">Montant</label>
              <input type="number" formControlName="montant" />
          </div>

          <div class="form-group">
              <label for="justificatif">Justificatif</label>
              <input type="file" formControlName="justificatif" />
          </div>

          <!-- <div class="form-group">
              <label for="ptdegat">Types de frais</label>
              <div>
                  <div *ngFor="let t of fraisTypes; let i=index">
                      <label>
                          <input type="checkbox" [value]="t.value" [checked]="hasType(t.value)" (change)="onCheckboxChange($event)"   />
                          {{ t.value }}
                      </label>
                  </div>
              </div>
          </div> -->

          <div class="form-actions">
              <button type="submit" [disabled]="fraisForm.pristine">Enregistrer</button>
              <button (click)="goBack()">Retour</button>
          </div>
      </div>
    </form>

