<p>list-client works!</p>

<h3 class='center'>Pour créer votre frais, sélectionner un client<br />
  Liste {{ title }}</h3>
<div *ngIf="clients?.length >0"  class='container listpokemons'>
  <div *ngFor='let client of clients' class="card-grid" (click)="selectClient(client)">
      <div class="card-stacked">
        <div class="card-content">
          <h2> {{ client.nom }}</h2>
        
          
        </div>
      </div>
  </div>
</div>
<p *ngIf="clients?.length<1" class="center">Aucun Client ...</p>


