
<h3>Création d'un frais</h3>
<h4 class='center'>ETAPE1:Sélectionner le client visité<br />
  <!-- Liste {{ title }} --></h4>

<div> <p>Rechercher un Client : 
  <!-- événement keyup sur un input text -->
  <input #nom (keyup)="onKey(nom.value)"/>
  <!-- retour du composant à chaque saisie -->
  </p>
  <!-- liaison directe sur le template 
  <p>{{ nom.value }} </p> -->
  </div>



<div *ngIf="clients?.length >0"  class='container listpokemons'>



  <div *ngFor='let client of clients' class="card-grid" (click)="selectClient(client)" >
      

    
    <div class="card-stacked">
        <div class="card-content" >
          <h2> {{ client.nom }}</h2>
        
          
        </div>
      </div>
  </div>
</div>
<p *ngIf="clients?.length<1" class="center">Aucun Client ...</p>


