<p>list-frais works!</p>


<h1 class='center'>{{title}}</h1>
<div class='container listpokemons'>
  <div *ngFor='let item of frais' class="card-grid" (click)="selectFrais(item)" >
  
      <div class="card-stacked">
        <div class="card-content">

          <p>{{item.typeFrais}}</p>
          <p>Date du paiement : <small>{{ item.datePaiement | date:"dd/MM/yyyy"  }}</small></p>
          <h2>{{ item.description }}</h2>
          <h3>{{ item.montant }} Euros</h3>
          <h3>{{ item.typePaiement }}</h3>
          <p>justificatif</p>
          Demande de remboursement envoyée le {{ item.createdAt | date:"dd/MM/yyyy" }}
          


        </div>
      </div>
  </div>
</div>


<p class='center'>
  <a href="./clients">Nouveau Frais</a>
</p>
